@charset "UTF-8";

    header {
    padding: 10px;
    font-size: 0.9em;
    }

    #intro, #introducao, #jogar {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    position: static;
    }

    #intro {
    width: 90%;
    max-width: 500px;
    margin: 80px auto 0 auto;
    padding: 10px;
    background-color: #001826;
    text-align: center;
    border-radius: 15px 15px 0 0;
    }

    #introducao {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2f5973;
    color: white;
    }

    #jogar {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color: #001826;
    text-align: center;
    border-radius: 0 0 15px 15px;
    }

    h2#jogue {
    text-align: center;
    }


    div#introducao {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 18px;
    transition: 0.2s ease;
    }

    div#introducao :hover {
    transform: scale(1.02);
    background: #133d66;
    cursor: pointer;
    }